workflows/generate-eval-set.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "system_message" },
            { "name": "owner" },
            { "name": "repo" },
            { "name": "agent_folder" },
            { "name": "count" }
          ]
        }
      },
      "id": "e1000001-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [0, 400],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this system message for an Akinator-style character guessing AI:\n\n{{ $json.system_message }}\n\nGenerate {{ $json.count || 50 }} diverse test cases for evaluating this agent. Return ONLY a valid JSON array — no markdown, no explanation.\n\nEach object must have exactly these fields:\n- id: sequential integer\n- character: the full character name the user is thinking of\n- chatMessage: the user opening message to start the game (e.g. I am ready to play, or Let us begin)\n- context: full description of the character — type (fictional/real), gender, origin (movie/game/history/etc), defining physical and personality traits, notable facts — must be precise enough to answer any binary Yes/No question accurately\n- thoughts: 6-10 key binary facts Akinator would likely ask about (e.g. fictional: yes, male: yes, wears a hat: yes, villain: no, from a video game: yes)\n\nDiversity requirements across the whole set:\n- 25% video game characters\n- 25% movies or TV characters\n- 20% historical figures or real celebrities\n- 15% animated or cartoon characters\n- 15% other (sports, literature, mythology, etc)\n- 65% widely famous, 35% moderately known but not obscure\n- Vary gender, nationality, and era\n- Include at least 3 real (non-fictional) people"
      },
      "id": "e1000002-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Generate Evals",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [240, 400],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": { "temperature": 0.7 }
      },
      "id": "e1000003-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "LLM Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [240, 640],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.text || $input.item.json.output || '';\nconst trigger = $('Execute Workflow Trigger').item.json;\n\n// Extract JSON array from LLM response (handles markdown code blocks)\nconst start = raw.indexOf('[');\nconst end = raw.lastIndexOf(']');\nif (start < 0 || end <= start) throw new Error('No JSON array found. Raw output: ' + raw.slice(0, 300));\n\nlet evals;\ntry {\n  evals = JSON.parse(raw.slice(start, end + 1));\n} catch (e) {\n  throw new Error('JSON parse failed: ' + e.message + '\\nRaw: ' + raw.slice(start, start + 300));\n}\n\nif (!Array.isArray(evals)) throw new Error('Expected a JSON array, got: ' + typeof evals);\n\n// Validate required fields and deduplicate by character name\nconst seen = new Set();\nevals = evals\n  .filter(function(e) {\n    if (!e.character || !e.chatMessage || !e.context || !e.thoughts) return false;\n    const k = e.character.toLowerCase();\n    if (seen.has(k)) return false;\n    seen.add(k);\n    return true;\n  })\n  .map(function(e, i) {\n    return Object.assign({}, e, { id: i + 1 });\n  });\n\nif (evals.length < 5) throw new Error('Too few valid eval cases after filtering: ' + evals.length);\n\nconst filePath = 'agents/' + trigger.agent_folder + '/evals/eval-set.json';\n\nreturn [{ json: {\n  evals: evals,\n  count: evals.length,\n  fileContent: JSON.stringify(evals, null, 2),\n  owner: trigger.owner,\n  repo: trigger.repo,\n  filePath: filePath\n}}];"
      },
      "id": "e1000004-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Parse and Validate",
      "type": "n8n-nodes-base.code",
      "position": [480, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "e1000005-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "GET Existing File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "position": [720, 400],
      "typeVersion": 4.4,
      "credentials": {},
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Merge: if file exists pass its SHA for update, else create new file\nconst parsed = $('Parse and Validate').item.json;\nconst shaData = $input.item.json;\n\nconst body = {\n  message: 'chore: update eval set for ' + (parsed.filePath.split('/')[1] || 'agent') + ' (' + parsed.count + ' cases)',\n  content: Buffer.from(parsed.fileContent).toString('base64'),\n  branch: 'main'\n};\n\n// SHA is required when updating an existing file\nif (shaData && shaData.sha) {\n  body.sha = shaData.sha;\n}\n\nreturn [{ json: {\n  commitBody: JSON.stringify(body),\n  owner: parsed.owner,\n  repo: parsed.repo,\n  filePath: parsed.filePath,\n  count: parsed.count\n}}];"
      },
      "id": "e1000006-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Build Commit Body",
      "type": "n8n-nodes-base.code",
      "position": [960, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/{{ $json.owner }}/{{ $json.repo }}/contents/{{ $json.filePath }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.commitBody }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "e1000007-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Commit Eval Set",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 400],
      "typeVersion": 4.4,
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1000008-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
              "name": "path",
              "value": "={{ $('Build Commit Body').item.json.filePath }}",
              "type": "string"
            },
            {
              "id": "e1000008-aaaa-4aaa-8aaa-bbbbbbbbbbbb",
              "name": "count",
              "value": "={{ $('Build Commit Body').item.json.count }}",
              "type": "number"
            },
            {
              "id": "e1000008-aaaa-4aaa-8aaa-cccccccccccc",
              "name": "file_url",
              "value": "={{ $json.content.html_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1000008-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [1440, 400],
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[ { "node": "Generate Evals", "type": "main", "index": 0 } ]]
    },
    "Generate Evals": {
      "main": [[ { "node": "Parse and Validate", "type": "main", "index": 0 } ]]
    },
    "LLM Model": {
      "ai_languageModel": [[ { "node": "Generate Evals", "type": "ai_languageModel", "index": 0 } ]]
    },
    "Parse and Validate": {
      "main": [[ { "node": "GET Existing File SHA", "type": "main", "index": 0 } ]]
    },
    "GET Existing File SHA": {
      "main": [
        [ { "node": "Build Commit Body", "type": "main", "index": 0 } ],
        [ { "node": "Build Commit Body", "type": "main", "index": 0 } ]
      ]
    },
    "Build Commit Body": {
      "main": [[ { "node": "Commit Eval Set", "type": "main", "index": 0 } ]]
    },
    "Commit Eval Set": {
      "main": [[ { "node": "Return", "type": "main", "index": 0 } ]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "generate-eval-set-v1"
  }
}
